@import url(https://fonts.googleapis.com/css2?family=Material+Icons);

@each $size-key, $size in $screen-size {
  $keys: map-keys($screen-size);
  $idx: index($keys, $size-key);

  @if $size-key == "xl" {
    @include screen-larger-than($size-key) {
      html,
      body {
        font-size: map-get($font-size, $size-key);
      }
    }
  } @else if $size-key == "s" {
    @include screen-smaller-than(nth($keys, $idx + 1)) {
      html,
      body {
        font-size: map-get($font-size, $size-key);
      }
    }
  } @else {
    @include screen-between($size-key, nth($keys, $idx + 1)) {
      html,
      body {
        font-size: map-get($font-size, $size-key);
      }
    }
  }
}

.material-icons {
  font-size: inherit;
}

/* position */
.abs {
  position: absolute;

  &.container {
    position: absolute;
  }
}

.rel {
  position: relative;
}

.fixed {
  position: fixed;

  &.container {
    position: fixed;
  }
}

.sticky {
  position: sticky;

  &.container {
    position: sticky;
  }
}

.flex {
  display: flex;
}

.flex.vertical {
  flex-direction: column;
}

.flex.align-right {
  justify-content: flex-end;
}

/* display */
.blk {
  display: block;
}

.inline-blk {
  display: inline-block;
}

.circle {
  border-radius: 50%;
}

/* sizing & centering */
.full {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.full-x {
  width: 100%;
}

.full-y {
  height: 100%;
}

.half-x {
  width: 50%;
}

.half-y {
  height: 50%;
}

.fit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.fit video,
.fit img {
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.centered-anchor {
  transform: translateX(-50%) translateY(-50%);
}

.centered-x {
  left: 50%;
  transform: translateX(-50%);
}

.centered-y {
  top: 50%;
  transform: translateY(-50%);
}

.centered {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.centered-text {
  text-align: center;
}

.flex.centering {
  justify-content: center;
  align-items: center;
}

.clip-overflow {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* shadow */
.box-shadow-s {
  box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(0, 0, 0, 0.02);
}

.box-shadow-l {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.no-background {
  background: transparent;
}

._hidden {
  display: none;
}

.show-on-load {
  display: none;
}
