$black: rgb(34, 34, 34);
$white: rgb(245, 245, 245);

$theme-color: (
  "primary": #d41919,
  "secondary": #df5827,
  "accent": #0232c4,
  "invert": #00e04b,
);

$screen-size: (
  s: 768px,
  m: 992px,
  l: 1200px,
);
