@import "_variable.scss";
@import "_mixin.scss";
@import "_function.scss";

:root {
  --white: #{$white};
  --black: #{$black};
  @each $color-name, $color in $theme-color {
    --#{$color-name}-darkest: #{darken($color, 30%)};
    --#{$color-name}-darker: #{darken($color, 20%)};
    --#{$color-name}-dark: #{darken($color, 10%)};
    --#{$color-name}: #{$color};
    --#{$color-name}-light: #{lighten($color, 10%)};
    --#{$color-name}-lighter: #{lighten($color, 20%)};
    --#{$color-name}-lightest: #{lighten($color, 30%)};
  }
}

$color-slot: (
  text: color,
  bg: background,
);

.white-color {
  color: $white;
}

.white-bg {
  color: $white;
  background: $black;
}

.black-color {
  color: $black;
}

.black-bg {
  color: $white;
  background: $black;
}

@each $slot-title, $slot in $color-slot {
  @each $color-title, $color in $theme-color {
    html body .#{$color-title}-#{$slot-title} {
      #{$slot}: $color;
      @if $slot == background {
        @if abs(brightness(#9e9e9e)) <= abs(brightness($color)) {
          color: $black;
        } @else {
          color: $white;
        }
      }
    }

    @each $step, $weight in $color-steps {
      $c: white;

      @if nth($weight, 1) == "d" {
        $c: darken($color, nth($weight, 2));
      } @else if nth($weight, 1) == "l" {
        $c: lighten($color, nth($weight, 2));
      }

      html body .#{$color-title}-#{$step}-#{$slot-title} {
        #{$slot}: $c;
        @if $slot == background {
          @if abs(brightness(#9e9e9e)) <= abs(brightness($c)) {
            color: $black;
          } @else {
            color: $white;
          }
        }
      }
    }
  }
}

// // 모바일 세로 화면
// @media (max-width: 575.98px) {
//   // 코드 작성
// }

// // 모바일 가로 화면
// @media (min-width: 576px) and (max-width: 767.98px) {
//   // 코드 작성
// }

// // 태블릿(갤럭시 탭, 아이패드) 화면
// @media (min-width: 768px) and (max-width: 991.98px) {
//   // 코드 작성
// }

// // PC 화면 1200px 이하
// @media (min-width: 992px) and (max-width: 1199.98px) {
//   // 코드 작성
// }

// // PC 화면 1200px 이상 1920px 이하
// @media (min-width: 1200px) and (max-width: 1199.98px) {
//   // 코드 작성
// }

.row {
  display: flex;
}

.col {
  width: 100%;
}

@for $i from 1 through 12 {
  .col.take-#{$i} {
    width: $i * (1 / 12) * 100%;
  }
}

@each $size-key, $size in $screen-size {
  @include screen-larger-than($size-key) {
    @for $i from 1 through 12 {
      .col.take-#{$i}-#{$size-key} {
        width: $i * (1 / 12) * 100%;
      }
    }
  }
}
