@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100vh;
  width: 100vw;
}

.d2 {
  font-family: "D2Coding";
}

.intro-wrap {
  background: var(--black);
  z-index: 100;
}

#intro-logo {
  stroke: var(--invert-secondary);
  stroke-dashoffset: 1700;
  transition: stroke-dashoffset 1s;
  transition-timing-function: cubic-bezier(0, 0.8, 1, 0.2);
}

.logo {
  min-height: 140vh;
  min-width: 140vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: none;
  stroke: var(--primary);
  stroke-dasharray: 1700;
}

.logo path {
  stroke: inherit;
  stroke-linecap: round;
  fill: inherit;
}

.slogan-wrap {
  height: 7rem;
  left: 0;
  z-index: 2;
}

@media (max-width: 767px) {
  .slogan {
    max-width: calc(100% - 2rem);
  }
}

#intro-slogan {
  color: var(--white);
}

#main-slogan {
  transform-origin: left;
  color: var(--black);
}

.slogan-wrap > h1 {
  font-size: 3rem;
  font-weight: 900;
}

.root-container .logo {
  stroke-dashoffset: 0;
}

.top-bar {
  width: 100%;
  z-index: 10;
  top: 0;
  background: var(--white);
}

.nav-bar {
  border-bottom: 1px solid;
}
