.transitionable {
  transition: all 0.5s;
}

.hover {
  &-underscore,
  &-back {
    position: relative;
  }

  &-underscore {
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
  }

  &-underscore::after,
  &-back::after {
    content: "";
    position: absolute;
    transform-origin: left;
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1);
    background: $foreground;
    transform: scaleX(0);
  }

  &-underscore::after {
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
  }

  &-back::after {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  &-back {
    background: transparent;
    z-index: 0;
  }

  &-back:hover {
    color: $background;
  }

  &-scale:hover {
    transform: scale(1.2);
  }

  &-underscore.from-center::after {
    transform-origin: center;
  }

  &-underscore.from-right::after,
  &-back.from-right::after {
    transform-origin: right;
  }

  &-back.from-top::after {
    transform-origin: top;
    transform: scaleY(0);
  }

  &-back.from-bottom::after {
    transform-origin: bottom;
    transform: scaleY(0);
  }

  &-underscore:hover::after,
  &-back:hover::after {
    transform: scaleX(1);
  }

  &-back.from-top:hover::after,
  &-back.from-bottom:hover::after {
    transform: scaleY(1);
  }

  @each $color-title, $color in $color-map {
    &-underscore.#{$color-title}-text::after,
    &-back.#{$color-title}-text::after {
      background: $color;
    }

    &-back.#{$color-title}-bg:hover {
      color: $color;
    }

    &-back.#{$color-title}-bg::after {
      @if abs(brightness($criteria-grey)) <= abs(brightness($color)) {
        background: $foreground;
      } @else {
        background: $background;
      }
    }

    &-back.#{$color-title}-text:hover {
      @if abs(brightness($criteria-grey)) <= abs(brightness($color)) {
        color: $foreground;
      } @else {
        color: $background;
      }
    }
  }
}
