button {
  display: inline-flex;
  align-items: center;
  background: $background;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;

  &.icon-btn {
    padding-right: 0.5rem;
  }

  &.short-btn {
    padding: 0.25em;
    border: 0;
  }

  &.round-btn {
    border-radius: 0.85rem;
  }

  .material-icons {
    margin-left: 0.5rem;
  }

  @each $color-title, $color in $color-map {
    &.#{$color-title}-bg {
      border: 1px solid $color;
    }
  }
}

.button-wrap {
  button {
    margin-left: 8px;
  }

  button:first-child {
    margin-left: 0;
  }
}
