button {
  display: inline-flex;
  align-items: center;
  background: $background;
  padding: 0.25em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s;

  &.icon-btn {
    padding-right: 0.5rem;
  }

  &.short-btn {
    padding: 0.25em;
    border: 0;
  }

  &.round-btn {
    border-radius: 0.85rem;
  }

  .material-icons {
    margin-left: 0.5rem;
  }

  @each $color-title, $color in $color-map {
    &.#{$color-title}-bg {
      border: 1px solid $color;
    }
  }

  &:not([class*="hover-"]):hover {
    background: map-get($color-map, "grey-lightest");
  }

  &:not([class*="active-"]):active {
    transform: scale(0.95);
  }
}

.button-wrap {
  button {
    margin-left: 8px;
  }

  button:first-child {
    margin-left: 0;
  }
}
