@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Noto Sans KR", sans-serif;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-weight: 900;
}

.d2 {
  font-family: "D2Coding";
}

.intro-wrap {
  background: var(--black);
  z-index: 100;
}

#intro-logo {
  stroke: var(--invert-secondary);
  stroke-dashoffset: 1700;
  transition: stroke-dashoffset 1s;
  transition-timing-function: cubic-bezier(0, 0.8, 1, 0.2);
}

svg path {
  stroke: inherit !important;
  stroke-linecap: round;
  fill: inherit !important;
}

.logo {
  min-height: 140vh;
  min-width: 140vw;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: none;
  stroke: var(--primary);
  stroke-dasharray: 1700;
}

#bg-curve-1 {
  position: absolute;
  min-width: 110vw;
  top: 30%;
  stroke-dasharray: 1400;
  stroke-dashoffset: 1400;
  stroke: var(--secondary);
  fill: none;
  overflow: visible;
}

#bg-curve-1 path {
  stroke-width: 300px;
}

.slogan-wrap {
  height: 7rem;
  right: calc(50% + 2rem);
  text-align: right;
  z-index: 2;
}

#intro-slogan {
  color: var(--white);
}

#main-slogan {
  transform-origin: right;
  color: var(--black);
}

.slogan-wrap > h1 {
  font-size: 3rem;
  white-space: nowrap;
}

.root-container .logo {
  stroke-dashoffset: 0;
}

.top-bar {
  width: 100%;
  z-index: 10;
  top: 0;
  background: var(--white);
}

.nav-bar {
  border-bottom: 1px solid;
}

.landing-article {
  position: absolute;
  padding: 1em;
  bottom: 10%;
  right: 0;
  text-align: justify;
  font-size: 1.5rem;
  font-weight: bold;
}

#dropdown-example {
  white-space: nowrap;
  bottom: 0;
  transform: translateX(-50%) translateY(100%);
}

#id-example {
  right: 50%;
  transform: translateY(50vh);
}

.parallex-zone > div {
  transition: transform 1s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1);
}

.parallex-zone img {
  max-width: 45vw;
  max-height: calc(90vh - 15rem);
}

.parallex-zone p {
  font-size: 1.25rem;
  font-weight: bold;
}

.dd-example-img-wrap {
  align-items: baseline;
}

@media (max-width: 767px) {
  .slogan {
    max-width: calc(100% - 2rem);
  }

  .landing-article {
    right: 2rem;
    font-size: 1rem;
    width: 45%;
  }
}
