$black: rgb(34, 34, 34);
$white: rgb(245, 245, 245);

$theme-color: (
  "primary": #0d3cca,
  "secondary": #0f7de4,
  "accent": #48c774,
  "invert": #c72222,
  "invert-secondary": #f2cb05,
  "grey": #afafaf,
);

$color-steps: (
  "darkest": (
    "d",
    30%,
  ),
  "darker": (
    "d",
    20%,
  ),
  "dark": (
    "d",
    10%,
  ),
  "light": (
    "l",
    10%,
  ),
  "lighter": (
    "l",
    20%,
  ),
  "lightest": (
    "l",
    30%,
  ),
);
