$screen-size: (
  s: 768,
  m: 992,
  l: 1200,
  xl: 1408,
);

$font-size: (
  s: 14px,
  m: 14px,
  l: 16px,
  xl: 16px,
);

$font-level: (
  xs: 0.5em,
  s: 0.75em,
  l: 1.5em,
  xl: 2em,
  xxl: 3em,
);

$border-level: (
  s: 1px,
  r: 3px,
  l: 5px,
  xl: 10px,
);
