@mixin screen-larger-than($size) {
  @media (min-width: map-get($screen-size, $size) + "px") {
    @content;
  }
}

@mixin screen-between($s1, $s2) {
  @media (min-width: map-get($screen-size, $s1) + "px") and (max-width: (map-get($screen-size, $s2) - 1) + "px") {
    @content;
  }
}

@mixin screen-except($s1, $s2) {
  @media (max-width: map-get($screen-size, $s1) + "px") {
    @content;
  }

  @media (min-width: (map-get($screen-size, $s2) - 1)  + "px") {
    @content;
  }
}

@mixin screen-smaller-than($size) {
  @media (max-width: (map-get($screen-size, $size) - 1) + "px") {
    @content;
  }
}

@mixin color-define-with($map, $mode) {
  @if $mode == "white" {
    @each $slot-title, $slot in $color-slot {
      @each $color-title, $color in $map {
        html body .#{$color-title}-#{$slot-title} {
          @if $slot-title == "border" {
            #{$slot}: $color !important;

            @each $size-key, $size in $border-level {
              &-#{$size-key} {
                border-style: solid;
                border-width: $size;
                #{$slot}: $color !important;
              }
            }
          } @else {
            #{$slot}: $color;
          }

          @if $slot == "background" {
            @if abs(brightness($criteria-grey)) <= abs(brightness($color)) {
              color: $black;
            } @else {
              color: $white;
            }
          }
        }
      }
    }
  }

  @if $mode == "dark" {
    @each $slot-title, $slot in $color-slot {
      @each $color-title, $color in $map {
        html body.dark-mode .#{$color-title}-#{$slot-title} {
          @if $slot-title == "border" {
            #{$slot}: $color !important;

            @each $size-key, $size in $border-level {
              &-#{$size-key} {
                border-style: solid;
                border-width: $size;
                #{$slot}: $color !important;
              }
            }
          } @else {
            #{$slot}: $color;
          }

          @if $slot == "background" {
            @if abs(brightness($criteria-grey)) <= abs(brightness($color)) {
              color: $black;
            } @else {
              color: $white;
            }
          }
        }
      }
    }
  }
}
