/* transitions */
html body {
  .before-appear-by-fade {
    opacity: 0;
  }

  .ready-appear-by-fade {
    transition: opacity 1s;
  }

  .appear-by-fade {
    opacity: 1;
  }

  .ready-hidden-by-fade {
    transition: opacity 1s;
  }

  .hidden-by-fade {
    opacity: 0;
  }

  .ready-hidden-by-slide-right {
    transform: translateX(0);
    transition: transform 2s;
    transition-timing-function: cubic-bezier(0.75, 0, 0, 1);
  }

  .hidden-by-slide-right {
    transform: translateX(100%);
  }

  .ready-hidden-by-offset-slide-right {
    left: 0;
    transition: left 2s;
    transition-timing-function: cubic-bezier(0.75, 0, 0, 1);
  }

  .hidden-by-offset-slide-right {
    left: 100%;
  }
}
