.collapse {
  border-radius: 0.5rem;
  background: map-get($color-map, "grey-darkest");
  overflow: hidden;
  transition: height 1s;
}

.collapse-trigger {
  display: inline-block;
  height: fit-content;
  font-weight: bold;
  padding: 1rem;
  border: 0;
  color: $white;
  background: transparent;
  transition: height 1s;
}

.collapse-content {
  padding: 1rem;
  background: white;
}
