.dropdown {
  position: relative;
  display: inline-block;
  clip-path: polygon(-100vh 0, 100vh 0, 100% 100vh, 0 100vh);
}

.dropdown-head {
  position: relative;
  @extend .no-background;
  border-radius: 0.25rem;
  background: transparent;
  z-index: 2;
}

.dropdown .dropdown-head:hover {
  background: transparent;
}

.dropdown-head .material-icons {
  font-size: 1.5em;
  margin-left: 0.25em;
  transform: scale(0.75);
  transition: transform 0.5s, font-size 0.5s;
  transition-timing-function: cubic-bezier(0.2, 2, 0.5, 1.05);
}

.dropdown.active .dropdown-head .material-icons {
  transform: rotate(180deg) scale(0.75);
}

.dropdown-head:hover .material-icons {
  transform: scale(1);
}

.dropdown.active .dropdown-head:hover .material-icons {
  transform: rotate(180deg) scale(1);
}

.dropdown.active .dropdown-head {
  background: transparent;
}

.dropdown-content {
  position: absolute;
  padding: 0.5rem 0;
  padding-top: 0;
  border-radius: 0.25rem;
  min-width: 100%;
  transform: translateY(-100%);
  top: 0;
  background: white;
  color: transparent;
  z-index: 1;
  transition: transform 1s, color 1s;
}

.dropdown.active .dropdown-content {
  transform: translateY(0);
  color: $black;
}

.dropdown-content > div {
  padding: 0.25rem 0.75rem;
}

.dropdown-content > div:hover {
  background: map-get($color-map, "grey-lighter");
}

.dropdown-content > .selected {
  background: rgb(46, 54, 168);
  color: white;
}

.dropdown-content > .selected:hover {
  background: rgb(36, 42, 133);
  color: white;
}

.dropdown-content > hr {
  height: 1px;
  background: #dadada;
  border: 0;
}
