.scroller {
  position: relative;
}

.scroller > button {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 50%;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: 0;
  transform: translateY(-50%);
  background: white;
  opacity: 0.3;
  transition: opacity 0.5s;
}

.scroller > button:hover {
  opacity: 1;
}

.scroller > button > .material-icons {
  margin: 0;
}

.scroller-prev-btn {
  left: 1rem;
}

.scroller-next-btn {
  right: 1rem;
}

.scroller-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroller-content > * {
  display: none;
  width: 100%;
  height: 100%;
}

.scroller[class*="item-fit-"] {
  width: fit-content;
}

.scroller img {
  max-width: 100%;
  height: auto;
}

.scroller.item-fit-contain .scroller-content img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.scroller.item-fit-contain .scroller-content img {
  object-fit: none;
  height: 100%;
  width: 100%;
}

.scroller-content > .current {
  display: block;
}
