.slider {
  position: relative;
}

.slider > button {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 50%;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin: 0;
  transform: translateY(-50%);
  backdrop-filter: blur(10px);
  background: white;
  opacity: 0.5;
  transition: opacity 0.5s color 0.5s;
}

.slider > button:hover {
  opacity: 1;
}

.slider > button > .material-icons {
  margin: 0;
}

.slider-prev-btn {
  left: 1rem;
  z-index: 2;
}

.slider-next-btn {
  right: 1rem;
  z-index: 2;
}

.slider-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-content > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.75s;
}

.slider-content > .current {
  transform: translateX(0);
}

.slider-content > .current ~ * {
  transform: translateX(100%);
}

.slider.item-fit-cover .slider-content img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.slider.item-fit-contain .slider-content img {
  object-fit: none;
  height: 100%;
  width: 100%;
}
