.tabpanel {
  border-radius: 0.5rem;
  overflow: hidden;
}

.tab-buttons {
  padding: 1rem 0;
  padding-left: 0.25rem;
  background: map-get($color-map, "grey-darkest");
  color: $white;
}

.tab-buttons > button {
  border: 0;
  background: transparent;
}

.tab-buttons > button.selected {
  font-weight: bold;
}

.tab-content > div {
  display: none;
  padding: 1rem;
  background: white;
}

.tab-content > div.selected {
  display: block;
}
