:root {
  --white: #{$white};
  --black: #{$black};
  @each $color-name, $color in $theme-color {
    --#{$color-name}-darkest: #{darken($color, 30%)};
    --#{$color-name}-darker: #{darken($color, 20%)};
    --#{$color-name}-dark: #{darken($color, 10%)};
    --#{$color-name}: #{$color};
    --#{$color-name}-light: #{lighten($color, 10%)};
    --#{$color-name}-lighter: #{lighten($color, 20%)};
    --#{$color-name}-lightest: #{lighten($color, 30%)};
  }
}

$color-slot: (
  text: "color",
  bg: "background",
  border: "border-color",
);

.real-white-color {
  color: white;
}

.real-white-bg {
  background: white;
}

.real-white-border {
  border-color: white;
}

.white-color {
  color: $white;
}

.white-bg {
  color: $white;
  background: $black;
}

.white-border {
  border-color: $white !important;
}

.black-color {
  color: $black;
}

.black-bg {
  color: $white;
  background: $black;
}

.black-border {
  border-color: $black !important;
}

.real-black-color {
  color: black;
}

.real-black-bg {
  background: black;
}

.real-black-border {
  border-color: black;
}

@each $slot-title, $slot in $color-slot {
  @each $color-title, $color in $color-map {
    html body .#{$color-title}-#{$slot-title} {
      @if $slot == "border" {
        #{$slot}: $color !important;
      } @else {
        #{$slot}: $color;
      }

      @if $slot == "background" {
        @if abs(brightness($criteria-grey)) <= abs(brightness($color)) {
          color: $black;
        } @else {
          color: $white;
        }
      }
    }
  }
}
