// // 모바일 세로 화면
// @media (max-width: 575.98px) {
//   // 코드 작성
// }

.row {
  display: flex;
}

.col {
  width: 100%;
}

@for $i from 1 through 12 {
  .col.take-#{$i} {
    width: $i * (1 / 12) * 100%;
  }
}

@each $size-key, $size in $screen-size {
  $keys: map-keys($screen-size);
  $idx: index($keys, $size-key);

  @if $size-key == "xl" {
    @include screen-smaller-than($size-key) {
      .only-in-#{$size-key} {
        display: none;
      }
    }

    @include screen-larger-than($size-key) {
      .hidden-#{$size-key} {
        display: none;
      }
    }
  } @else if $size-key == "s" {
    @include screen-larger-than($size-key) {
      .only-in-#{$size-key} {
        display: none;
      }
    }

    @include screen-smaller-than($size-key) {
      .hidden-#{$size-key} {
        display: none;
      }
    }
  } @else {
    @include screen-except($size-key, nth($keys, $idx + 1)) {
      .only-in-#{$size-key} {
        display: none;
      }
    }

    @include screen-between($size-key, nth($keys, $idx + 1)) {
      .hidden-#{$size-key} {
        display: none;
      }
    }
  }

  @include screen-larger-than($size-key) {
    @for $i from 1 through 12 {
      .col.take-#{$i}-#{$size-key} {
        width: $i * (1 / 12) * 100%;
      }
    }
  }
}
